* {
    margin: 0;
    padding: 0;
    color: rgb(207, 198, 198);
    text-shadow: 2px 2px rgba(105, 103, 103, 0.678);
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    background-image: url(/assets/Wallpapers/Main-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}

#login{

    display: flex;
    flex-direction: column;
    align-items: center;

}

#login p{
    border: solid 1px black;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.titulo {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.botonera-nav{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;*/
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.botonera-nav ul {
    display: inline-block;
    padding-bottom: 20px;
}

.botonera-nav ul li{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.botonera-nav ul li a{
    text-decoration: none;

}

.img-team{
    width: 600;
    height: 800;
}

#noticia{
    font-size: x-large;
    color: red;
    display: flex;

}

