@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/******ETIQUETAS GENERALES*********/
* {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: white;
}

li {
    list-style: none;
}

/**********SECCIÓN HEADER**********/

header {
    position: sticky;
    top: 0;
    z-index: 100000;
}

.sectionheader {

    background-color: black;
    color: rgba(228, 31, 31, 0.897);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(228, 31, 31, 0.897);
    ;
}

.headernav {
    display: flex;
    align-items: center;
}

.columnasheader {
    margin-top: 30px;
}

.logohomeheader {
    height: 90px;
    width: 220px;
    margin-bottom: 30px;
    margin-left: 30px;
    border: solid 1px rgba(228, 31, 31, 0.897);
}

.carritoheader {

    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding: 5px 5px;

}

header h1 {
    margin: 20px 0px;
    color: rgba(228, 31, 31, 0.897);
    text-align: center;
}

header nav {
    margin: 20px 10px;
    margin-bottom: 40px;
}

header a {
    color: rgba(228, 31, 31, 0.897);
    text-decoration: none;
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.buscador {
    padding-right: 18em;
    height: 2.6em;
    border: solid 1px rgba(228, 31, 31, 0.897);
}

.buscadorbutton {
    height: 2.6em;
    padding-right: 10px;
    padding-left: 10px;
    border: solid 1px rgba(228, 31, 31, 0.897);
    font-weight: bold;
}

header button:hover {
    background-color: rgba(228, 31, 31, 0.897);
    color: black;
}

/**********SECCIÓN HOME***********/

.presentacion-tienda {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********CAROUSEL********/

.contenedor-carousel {

    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.slider {
    position: relative;
    margin-top: 3.09rem;
    width: 800px;
    height: 300px;
    border: solid 3px rgb(128, 8, 8);
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .4s;
    background: #fff;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu-carousel {
    text-align: center;
    margin: 20px;
}

.menu-carousel li {
    display: inline-block;
    text-align: center;
}

.menu-carousel li a {
    display: inline-block;

    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    border: solid 2px black
}

/******PRESENTACIÓN******/

.presentacion-tienda {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion-tienda h3 {
    font-size: 3.5rem;
    color: rgb(204, 27, 27);
}

.presentacion-tienda p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.7rem;
}

.mas-vendidos-section h3 {
    font-size: 2.0rem;
    color: rgb(204, 27, 27);
}

.novedades-section h3 {
    font-size: 2.0rem;
    color: rgb(204, 27, 27);
}

.medios-de-pago-section h3 {
    font-size: 2.0rem;
    color: rgb(204, 27, 27);
    margin-bottom: 2.0rem;
}

/******MÁS VENDIDOS******/

.mas-vendidos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.mas-vendidos-article {
    /*orientación flex*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*estilos*/
    background-color: rgba(0, 0, 0, 0.205);
    border: 3px solid rgba(255, 0, 0, 0.719);
    margin: 2rem;

    /*medidas*/
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.mas-vendidos-article .mas-vendidos-div {
    width: 20%;
    margin: 2%;
    border: 5px solid rgb(128, 8, 8);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.22);

    display: flex;
    flex-direction: column;
    align-items: center;


    transition: all .4s;
}

.mas-vendidos-article .mas-vendidos-div img {
    width: 100%;
    border-top: 5px solid #000;
    max-height: 13rem;
    min-height: 13rem;

}

.mas-vendidos-article .mas-vendidos-div:hover {
    background-color: black;
    filter: brightness(70%);

}

.mas-vendidos-article .mas-vendidos-div a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
}

.mas-vendidos-article .mas-vendidos-div a p {
    color: rgb(209, 209, 209);
    text-align: center;
    text-decoration: none;
    border-top: 5px solid #000;
}

/****NOVEDADES****/

.novedades-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.novedades-section .novedades-article {

    /*orientación flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*estilos*/
    background-color: rgba(0, 0, 0, 0.205);
    border: 3px solid rgba(255, 0, 0, 0.719);
    margin: 2rem;

    /*medidas*/
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;

}

.novedades-article .novedades-div {
    width: 20%;
    margin: 2%;
    border: 5px solid rgb(114, 8, 8);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.22);

    display: flex;
    flex-direction: column;
    align-items: center;


    transition: all .4s;
}

.novedades-article .novedades-div img {
    width: 100%;
    border-top: 5px solid #000;
    max-height: 13rem;
    min-height: 13rem;

}

.novedades-article .novedades-div:hover {
    background-color: black;
    filter: brightness(70%);

}

.novedades-article .novedades-div a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
}

.novedades-article .novedades-div a p {
    color: rgb(209, 209, 209);
    text-align: center;
    text-decoration: none;
    border-top: 5px solid #000;
}

/****MEDIOS DE PAGO****/

.medios-de-pago-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.medios-de-pago-section .medios-de-pago-article {

    /*orientación flex*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    /*estilos*/
    background-color: rgba(12, 10, 10, 0.048);
    border: 1px solid rgba(0, 0, 0, 0.158);

    /*medidas*/
    width: 99.9%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

.medios-de-pago-article .medios-de-pago-div {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    
}

.medios-de-pago-article .medios-de-pago-div p {
    margin-top: 1rem;
    font-size: larger;
}

.medios-de-pago-article .medios-de-pago-div img {
    margin-top: 1rem;
    font-size: larger;
}









/**********SECCIÓN LOGIN**********/

#logeo {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

#main-login {
    width: 100%;
    height: 100%;
}

.section-login {
    width: 100%;
    height: 100%;
}

.login-article {
    width: 100%;
    height: 100%;
    /* background-color: #399b12;*/
}

#cuerpo-login {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: url(/assets/BackGrounds/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.contenedor-login {
    width: 20rem;
    height: 26.25rem;
    background: rgb(90, 87, 87);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 4.375rem 1.875rem;
    border: 2px solid black;
    box-shadow: 0.5rem 0.75rem 1.25rem black;
}

.avatar-login {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 3.125rem);
}

.contenedor-login h1 {
    margin: 0;
    padding: 0 0 1.25rem;
    text-align: center;
    font-size: 1.875rem;
}

.contenedor-login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.contenedor-login input {
    margin-bottom: 1.25rem;
    width: 100%;
}

.contenedor-login input[type="text"],
.contenedor-login input[type="password"] {
    border: none;
    border-bottom: 0.063rem solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.contenedor-login input[type="submit"] {
    border: 1px solid #000;
    border-radius: 1.8em;
    height: 3em;
    outline: none;
    font-size: 1.125em;
    background: rgb(163, 9, 9);
    box-shadow: 0.325em 0.313em 0.813em #000;
}

.contenedor-login input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(128, 8, 8);
    transition: 0.5s;
}

.contenedor-login a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.contenedor-login a:hover {
    color: #fff;
}

.contenedor-registro {
    width: 23rem;
    height: 33.25rem;
    background: rgb(90, 87, 87);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 4.375rem 1.875rem;
    border: 2px solid black;
    box-shadow: 0.5rem 0.75rem 1.25rem black;
}

.avatar-registro {
    width: 7.25rem;
    height: 7.25rem;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 3.4rem);
}

.contenedor-registro h1 {
    margin: 0;
    padding: 0 0 1.25rem;
    text-align: center;
    font-size: 1.875rem;
}

.contenedor-registro label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 1.063rem;
}

.contenedor-registro input {
    margin-bottom: 1.25rem;
    width: 100%;
}

.contenedor-registro input[type="text"],
.contenedor-registro input[type="password"],
.contenedor-registro input[type="email"] {
    border: none;
    border-bottom: 0.063rem solid #fff;
    background: transparent;
    outline: none;
    height: 2.5rem;
    color: #fff;
    font-size: 1rem;
}

.contenedor-botoncito-registro {
    display: flex;
    justify-content: space-between;
}

.contenedor-botoncito-registro input {
    width: 45%;
}

.contenedor-registro input[type="submit"] {
    border: 1px solid #000;
    border-radius: 1.8em;
    height: 3em;
    outline: none;
    font-size: 1.125em;
    background: rgb(163, 9, 9);
    box-shadow: 0.325em 0.313em 0.813em #000;
}

.contenedor-registro input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(128, 8, 8);
    transition: 0.5s;
}

.volverAlInicio{
    width: 3rem;
    position:absolute;
    top: 1rem;
    left: 1rem;
    padding: 10;
    box-shadow: #000000;
    
}

.volverAlInicio a{
      text-decoration: none;  
}

.volverAlInicio a img{
    filter: invert(100%) brightness(118%);
}

.volverAlInicio a p{
    color: white;
}



/**************SECCIÓN BOTONERA****************/

.botonera-nav {
    list-style: none;
    background-color: rgba(67, 71, 71, 0.418);
    margin: 0.5%;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
}

.botonera-nav ul {
    display: flex;
    justify-content: space-around;
}

.botonera-nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem;
}

.botonera-nav ul li:hover {
    background-color: rgba(250, 235, 215, 0.103);
}

.botonera-nav ul li a {
    text-decoration: none;
    align-items: center;
}

/************SECCIÓN CATEGORÍAS****************/

.categorias-title {
    text-align: center;
    margin: 1rem;
    font-weight: 700;
}


/*CATEGORÍAS*/
.categorias-lista {

    /*orientación flex*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    /*estilos*/
    background-color: rgb(65, 63, 63);
    border: 3px solid rgba(255, 0, 0, 0.719);
    margin: 2rem;

    /*medidas*/
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.categorias-lista .categorias-div {

    width: 20%;
    margin: 2%;
    border: 5px solid rgb(128, 8, 8);
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.22);

    display: flex;
    flex-direction: column;
    align-items: center;


    transition: all .4s;
}

.categorias-lista .categorias-div img {
    width: 100%;
    border-top: 5px solid #000;
    max-height: 13em;
    min-height: 13em;
}

.categorias-lista .categorias-div:hover {
    background-color: black;
    filter: brightness(70%);

}

.categorias-lista .categorias-div a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
}

.categorias-lista .categorias-div a p {
    color: rgb(209, 209, 209);
    text-align: center;
    text-decoration: none;
    border-top: 5px solid #000;
}


/**************SECCIÓN DETALLES DEL PRODUCTO****************/

.menucontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 80%;
    margin-top: 10px;
}

.menucontain {
    width: calc(40% - 10px);
    background-repeat: no-repeat;
}

#portadadarksouls {
    background-image: url(/assets/ImgJuegos/Accion/Dark_Souls_Portada.jpg);
    background-position: center center;
    position: relative;
    z-index: -1;
    box-shadow: 5px 5px 5px;

}

#portadadarksouls h3 {
    background-color: rgba(228, 31, 31, 0.897);

    background-size: cover;
    position: absolute;
    right: 0.0em;
    bottom: 5.0em;
    border-radius: 10px 0px 0px 10px;
    min-height: 2.0em;
    min-width: 4.0em;
    text-align: center;
    padding-top: 8px;
    text-decoration: underline;

}

#descripciondarksouls p {
    text-align: left;
    font-size: 1.3em;
    margin-top: 3.0em;
}

#descripciondarksouls h3 {
    text-align: center;
    font-size: 3.0em;
    margin-top: 3.0em;
    color: rgba(228, 31, 31, 0.897);
    text-shadow: 1px 1px 3px black;
}

#descripciondarksouls ul {
    text-align: center;
    font-size: 1.5em;
    margin-top: 3.0em;
    color: rgba(228, 31, 31, 0.897);
}

#descripciondarksouls li {
    color: rgba(228, 31, 31, 0.897);
    margin-top: 0.7em;
}

.productosegundasection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;


}

.productosegundasection input {
    width: 30px;


}

.productobotoncarrito {
    background-color: rgba(228, 31, 31, 0.897);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0.8);
    margin-right: 10%;

}

.productobotoncarrito input {
    height: 30px;
    width: 50px;
}

.productobotoncarrito img {
    height: 55px;
    width: 55px;
    padding-left: 25px;
}

.productobotoncarrito a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.productosimilares h2 {
    text-align: center;
    font-size: 3.0em;
    margin: 4.0em 0.0em;
    color: rgba(228, 31, 31, 0.897);
}

.masproductos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 50px;
    align-items: center;

}

.masproductos img {
    border-bottom: rgba(228, 31, 31, 0.897) 1px solid;
    box-shadow: 3px 3px 3px rgb(0, 0, 0.8);
}

.otrosproductos {
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0.8);
    position: relative;
}

.otrosproductos h5 {
    background-color: rgba(228, 31, 31, 0.897);
    position: relative;
    right: 0px;
    bottom: 1.4em;
    margin-left: 21.0em;
    border-radius: 5px 0px 0px 5px;
    text-decoration: underline;
}

.otrosproductos a {
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;

}

/*.otrosproductos p{

}*/
.otrosproductos img {
    width: 500px;
    height: 300px;
}

.otrosproductos img {
    width: 370px;
    height: 240px;
}

/**************SECCIÓN CARRITO****************/


.main-carrito {
    margin: auto 5rem;
    height: 100%;
}

.titulo-carrito {
    font-size: 2rem;
    box-sizing: border-box;
    margin: 2.5rem 0;
}

.contenedor-carrito {
    display: flex;
    margin: 1rem auto;
    padding: 0;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
}

.columna-carrito {
    height: 100%;
    width: 25%;
}

.columna-mayor-carrito {
    height: 100%;
    width: 40%;
    text-align: center;
}

.columna-menor-carrito {
    height: 100%;
    width: 20%;
    text-align: center;
}

.columna-tachito-carrito {
    height: 100%;
    width: 20%;
    text-align: start
}


.linea-carrito {
    background-color: rgba(128, 128, 128, 0.384);
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.linea-tachito-carrito {
    box-sizing: border-box;
    padding: 0.5rem;

}

.elemento-carrito {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.tachito-carrito {
    width: 2.125rem;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.5rem;
}

.tachito-divisor-carrito {
    height: 1.5rem;
    box-sizing: border-box;
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    margin-top: 0.2rem;
    width: 20px;
    margin-left: 0.4rem;
    margin-right: auto;
    display: block;
}

.columna-menor-tachito button {
    height: 15px;
}

.botoncito-pagar-carrito {
    margin: 2rem auto;
}

.botoncito-pagar-carrito input {
    width: 12rem;
    height: 4rem;
    background-color: rgb(204, 27, 27);
    color: #fff;
    border-style: none;
    border: 1px solid black;
    border-radius: 0.313rem;
    box-shadow: 0.313rem 0.188rem 0.313rem rgb(15, 15, 15);
    font-size: 1.2rem;
}

.botoncito-pagar-carrito input:hover {
    cursor: pointer;
    background-color: rgb(128, 8, 8);
    color: rgba(255, 255, 255, 0.801);
    transition: 0.4s;
}

/**************SECCION PAGAR******************/

.section-pagar {
    display: flex;
    height: 100%;
    background-image: url(/assets/BackGrounds/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-pagar {
    margin: auto;
    box-sizing: border-box;
    padding: 2rem 3rem;
    border: 3px solid rgb(163, 9, 9);
    background-color: rgb(90, 87, 87);
    font-weight: bold;
    box-shadow: 0.5rem 0.75rem 1.25rem black;
}

.titulo-pagar {
    display: flex;
    align-items: center;
}

.titulo-pagar h1 {
    font-size: 3rem;
    margin-right: 1.5rem;
}

.contenedor-imagen-pagar img {
    width: 3rem;
}

.cosa-guardada-pagar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem auto;
}

.cosa-guardada-pagar label {
    width: 50%;
    font-size: 1.2rem;
}

.cosa-guardada-pagar select {
    width: 50%;
    height: 1.4rem;
    align-items: center;
}

.otras-tarjetas-pagar{
    display: flex;
    justify-content: flex-start;
    margin: 1rem auto;

}

.otras-tarjetas-pagar input[type="checkbox"]{
    width: 25;
    margin-right: 1.5rem;
}

.botoncito-pagar{
    margin: 2rem auto;
    display: flex;
    justify-content: end;
}

.botoncito-pagar input{
    width: 10rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 0.313rem 0.313rem 0.625rem rgb(0, 0, 0);
    font-size: 1.1rem;
    background-color: #b80f22;
    font-weight: bold;
}

.botoncito-pagar input:hover{
    background-color: rgb(128, 8, 8);
    cursor: pointer;
}



/**************SECCIÓN FOOTER****************/

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    align-items: center;
    margin: 0px 0px;
    margin-top: 100px;
    border-top: solid 2px rgba(228, 31, 31, 0.897);

}

footer img {
    height: 100px;
    width: 100px;
}

.columnasfooter {
    margin: 30px 5px;
}

footer p {
    color: rgba(228, 31, 31, 0.897);
    margin: 3px 0;

}

footer h3 {
    color: rgba(228, 31, 31, 0.897);
}

.logohomefooter {
    width: 180px;
    height: 80px;
    margin-bottom: 20px;
}

.logosfooter {
    height: 40px;
    width: 40px;
    margin: 10px 2px;
}

.relojfooter {
    height: 25px;
    width: 30px;
    margin-right: 10px;

}

#footerhorario {
    display: flex;
    align-items: center;
}

/***************************MI CUENTA**************************/
.micuenta {
    margin-left: 7%;
    margin-right: 7%;
}

.micuentanombre {
    display: flex;
    flex-direction: row;
    margin-top: 3.5em;
    align-items: center;
    justify-content: center;

}

.micuentanombrediv {
    min-height: 70%;
}

#micuentanombrefoto {
    width: calc(20% - 10px);
    margin-right: 10.0em;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/Logos/user-logo-black.png);
    background-size: cover;
    min-height: 18.0em;
    min-width: 18.0em;
    margin: 0px auto;
}

#micuentanombrenombre {
    width: calc(70% - 10px);
    font-size: 3.0em;
    text-align: left;
}

.micuentanombre h3 {
    color: rgb(204, 27, 27);
    text-shadow: 1px 1px 3px black;
}

.misdirecciones {
    display: flex;
    flex-direction: row;
    margin-top: 3.0em;
    justify-content: space-between;
    font-size: 2.0em;
}

.misdirecciones button {
    font-size: 0.8em;
    font-weight: bold;
    min-width: 6.0em;
    border: 2px solid black;
    background-color: rgb(204, 27, 27);
    border-radius: 4px;
}

.misdirecciones a:hover {
    color: white;

}

.misdirecciones a {
    text-decoration: none;
}

.misdirecciones h3 {
    color: rgb(204, 27, 27);
}

.direcciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3.5em;
}

.direccionesdiv {
    width: calc(50%);
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

.direccionesdiv p {
    padding: 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.direccionesdiv img {
    max-height: 35px;
    max-width: 35px;
    position: absolute;
    right: -35px;
}

#alias {
    background-color: rgba(128, 128, 128, 0.384);
}

.metodospago {
    display: flex;
    margin-top: 3.0em;
}

.metodospago p {
    padding: 20px 0px;
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.metodospago img {
    max-height: 35px;
    max-width: 35px;
    position: absolute;
    right: -35px;
}

.mismetodosdiv {
    width: calc(100%);
    text-align: center;
    font-size: 1.5em;
    position: relative;
}

#pagoalias {
    background-color: rgba(128, 128, 128, 0.384);
    ;
}

/*****************************CONTACTO***************************/
.paginacontacto {
    margin: 0% 7%;
}

.paginacontacto h2 {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
    font-size: 3.0em;
    color: rgb(204, 27, 27);
    text-shadow: 3px 3px 3px black;
}

.contactoydatos {
    display: flex;
    flex-direction: row;
    position: relative;
}

.contactoydatosdiv {
    width: calc(50%);
}

#contactoform {
    border-right: 3px solid rgb(204, 27, 27);
    position: relative;
}

#contactoform p {
    margin: 14px 0px;
    color: rgb(204, 27, 27);
    font-weight: bold;
    text-shadow: 1px 1px 0.5px black;
    font-size: 1.3em;
}

#contactoform input {
    min-width: 50%
}

#contactoform textarea {
    min-width: 50%;
}

.nombreyemail {
    padding: 7px 5px;
    border: rgb(204, 27, 27) solid 2px;
    border-radius: 5px;
}

.dejanosmensaje {

    border: rgb(204, 27, 27) solid 2px;
    border-radius: 5px;

}

.paginacontactoboton {
    padding: 20px;
    color: white;
    background-color: rgb(204, 27, 27);
    font-weight: bold;
    font-size: 1.3em;
    border: 1px black solid;
    border-radius: 5px;


}

.paginacontactoboton:hover {
    background-color: rgb(128, 8, 8);
    color: #fff;
    border: black 1px solid;
    cursor: pointer;
}

.paginacontacto h3 {
    color: rgb(204, 27, 27);
    text-shadow: 1px 1px 1px black;
    font-size: 2.0em;
    margin-bottom: 30px;
}

#contactodatos {
    margin-left: 50px;
}

#contactodatos p {
    font-size: 1.3em;
    margin: 10px 0px;
}

#contactodatos h4 {
    margin-top: 30px;
}

.paginacontactomapa {
    margin-top: 7.0em;
    width: 100%;
}

.paginacontacto h6 {
    font-size: 1.4em;
    margin: 50px 0px;
}

/**********************AGREGAR DIRECCION*********************/
.agregardireccion {
    display: flex;
    height: 100vh;
    background-image: url(/assets/BackGrounds/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.agregardirecciondiv {
    margin: auto;
    flex-direction: row;
    width: 16rem;
    padding: 2rem 2.4rem;
    border: 3px solid rgb(204, 27, 27);
    background-color: rgb(90, 87, 87);
    font-weight: bold;
    box-shadow: 0.5rem 0.75rem 1.25rem black;
    position: relative;

}

.agregardireccion img {
    height: 9rem;
    width: 9rem;
    position: absolute;
    top: calc(-20%);
    left: calc(28.7%);
}

.agregardirecciondiv input {
    width: calc(100%);
    margin: 6px 0px;
    border: 1px solid rgb(90, 87, 87);
    background-color: rgb(90, 87, 87);
    border-bottom: 1px solid white;
    padding: 5px 0;
    color: white;
}

.agregardirecciondiv h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.agregardirecciondiv select {
    width: calc(100%);
    margin: 6px 0px;
    background-color: rgb(90, 87, 87);
    border: 1px solid rgb(90, 87, 87);
    border-bottom: 1px solid white;
    padding: 5px 0;
    color: white;
}

#dpto {
    width: calc(45%);
}

.agregardirecciondiv article {
    display: flex;
}

#agregardireccionboton {
    border-radius: 1.8em;
    border: 2px solid black;
    background-color: rgb(204, 27, 27);
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 0.9rem 0;
    box-shadow: 0.325em 0.313em 0.813em #000;

}

#agregardireccionboton:hover {
    border: 2px solid rgb(204, 27, 27);
    background-color: white;
    color: rgb(204, 27, 27);
    cursor: pointer;
}


/**********************AGREGAR METODO*********************/
.metodosection{
    display: flex;
    height: 100vh;
    background-image: url(/assets/BackGrounds/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.metodosection div{
    margin: auto;
    width: 26rem;
    padding: 2rem 2rem;
    border: 3px solid rgb(204, 27, 27);
    background-color: rgb(90, 87, 87);
    font-weight: bold;
    box-shadow: 0.5rem 0.75rem 1.25rem black;
    position: relative;    
}
.metodosection img{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 3.5rem;
    top: 0.4rem;
}
.metodosection article{
    display: flex;
}
#ccv{
    width: calc(50%);
}
.metodosection input{
    width: 100%;
    margin: 0.5rem 0; 
    background-color: rgb(90, 87, 87);  
    border: 1px solid rgb(90, 87, 87); 
    border-bottom: 1px solid white;
    padding: 5px 0;
    color: white;
}
.metodosection h3{
    margin-bottom: 0.7rem;
    font-size: 1.8em;
}
#metodosboton{
    border-radius: 1.8em;
    border: 2px solid black;
    background-color: rgb(204, 27, 27);
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 2rem;
    padding: 0.9rem 0;
    box-shadow: 0.325em 0.313em 0.813em #000;
    width: 100%;
}
#metodosboton:hover{
    border: 2px solid rgb(204, 27, 27);
    background-color: white;
    color: rgb(204, 27, 27);
    cursor: pointer;
}
